@media only screen and (max-width: 1280px) {
  .nav__list {
    right: 115px;
  }
}

@media only screen and (max-width: 1024px) {
  .main_banner {
    height: 75vh;
  }

  .banner article {
    margin-right: 40px;
  }

  .past_clients_section {
    padding: 113px 25px 140px 25px;
  }

  .past_clients_section h3 {
    font-size: 36px;
    margin-bottom: 10px;
  }

  .past_clients_section h4 {
    font-size: 20px;
  }

  .components {
    bottom: 30px;
  }

  .need_help_section h3 {
    font-size: 32px;
  }

  .need_help_section h4 {
    font-size: 24px;
  }

  .need_help_section p {
    font-size: 14px;
  }

  .need_help_section p::before {
    height: 24px;
    width: 24px;
  }

  .logo-wrap {
    left: -30px;
  }
}
@media only screen and (max-width: 992px) {
  .nav__list-item a {
    margin-right: 15px;
  }

  .main_banner h1 {
    font-size: 42px;
    margin-bottom: 15px;
  }

  .main_banner h3 {
    font-size: 12px;
  }

  .main_banner p {
    font-size: 12px;
  }

  .partners_logo {
    width: 110px;
  }
}

@media only screen and (max-width: 820px) {
  header {
    padding: 20px 0;
  }

  .nav__list {
    display: inline-block;
    position: relative;
    top: 0;
    right: 0;
  }

  .nav__list-item:first-of-type {
    margin: 0;
    font-size: 5vh;
  }

  .nav__list-item:last-of-type a {
    margin: 0;
    font-size: 5vh;
    padding: 33px 38px;
  }

  .nav-but-wrap {
    display: flex;
    justify-content: end;
    margin-right: 20px;
  }

  .nav {
    position: fixed;
  }

  .nav__content {
    position: fixed;
    visibility: hidden;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    margin-top: 20px;
  }

  .nav__list-item {
    opacity: 0;
    font-size: 5vh;
    font-weight: 900;
    display: block;
    line-height: 1.15;
    letter-spacing: 3px;
  }

  .nav__list-item a {
    text-transform: uppercase;
    margin: 0;
  }

  .logo-wrap {
    top: 10px;
  }
}
@media only screen and (max-width: 420px) {
  .nav__list-item {
    font-size: 3vh;
  }

  .nav__list-item:first-of-type a {
    font-size: 3vh;
  }
  .nav__list-item:last-of-type a {
    font-size: 3vh;
    padding: 21px 29px;
  }

  .logo-wrap {
    top: 10px;
  }

  .main_banner p {
    margin: 0 10px 20px 10px;
  }

  .need_help_section h3 {
    font-size: 24px;
    line-height: 30px;
  }

  .need_help_section h4 {
    font-size: 20px;
  }
  .need_help_section p {
    font-size: 12px;
  }
}
@media only screen and (max-width: 375px) {
  .main_banner h1 {
    font-size: 36px;
  }

  .main_banner h3 {
    font-size: 10px;
  }

  .components {
    bottom: 15px;
  }

  .partners_logo {
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 360px) {
  .components li::before {
    height: 12px;
    width: 12px;
    top: 1px;
  }

  .components li:nth-child(3)::before {
    background-image: url(../images/iso_icon.svg);
    width: 24px;
  }

  .components li:nth-child(4)::before {
    background-image: url(../images/location_icon.svg);
    width: 8px;
  }

  .need_help_section h3 {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 10px;
  }

  .need_help_section h4 {
    font-size: 18px;
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 320px) {
  .main_banner h1 {
    margin: 0 15px;
    line-height: normal;
    line-height: 50px;
  }

  .main_banner p {
    margin: 0 15px 20px 15px;
  }
  .banner article {
    margin: 0 15px;
  }
  .components li::before {
    height: 12px;
    width: 12px;
    top: -1px;
    right: 0;
  }

  .need_help_section h3 {
    margin: 0 15px 10px 15px;
  }
}
